---
- name: Normalize variables
  set_fact:
    role: "{{ instance.role }}"
    mode: "{{ instance.mode }}"
    prefix: "{{ instance.prefix }}"
    name: "{{ instance.name }}"
    domain: "{{ instance.domain }}"
    subdomain: "{{ instance.subdomain }}"
    keypair: "{{ instance.keypair }}"
    ami_image: "{{ instance.ami_image }}"
    instance_type: "{{ instance.instance_type }}"
    region: "{{ instance.region }}"
    assign_public_ip: "{{ instance.assign_public_ip }}"
    security_group: "{{ instance.prefix }}-{{ instance.mode }}-{{ instance.role }}"
    count: "{{ instance.count }}"
    source_dest_check: "{{ instance.source_dest_check }}"
    use_elb: "{{ instance.use_elb }}"
    ssl_arn: "{{ instance.ssl_arn}}"
    elastic_ip: "{{ instance.elastic_ip }}"
    instance_profile_name: "{{ instance.instance_profile_name }}"

- name: Get web subnet id
  set_fact:
    subnet_id: "{{ item.id }}"
  with_items: vpc.subnets
  when: item.resource_tags['Name'] is defined and item.resource_tags['Name'] == "{{ prefix }}-{{ mode }}-{{ role }}"

- name: Initialize EC2 instance
  local_action: 
    module: ec2
    aws_access_key: "{{ aws_access_key }}"
    aws_secret_key: "{{ aws_secret_key }}"
    keypair: "{{ keypair }}"
    image: "{{ ami_image }}"
    instance_type: "{{ instance_type }}"
    region: "{{ region }}"
    assign_public_ip: "{{ assign_public_ip }}"
    vpc_subnet_id: "{{ subnet_id }}"
    group: "{{ security_group }}"
    source_dest_check:  "{{ source_dest_check }}"
    exact_count: "{{ count }}"
    count_tag:
      Name: "{{ prefix }}-{{ mode }}-{{ role }}"
    instance_tags:
      Owner: "{{ owner }}"
      Name: "{{ prefix }}-{{ mode }}-{{ role }}"
      Stack: "{{ prefix }}-{{ mode }}"
      Role: "host_{{ prefix }}-{{ role }}"
      Mode: "{{ mode }}"
    instance_profile_name: "{{ instance_profile_name }}"
    wait: yes
  register: ec2

- name: Wait for SSH to come up
  local_action: wait_for host={{ item.private_dns_name }} port=22 delay=60 timeout=320 state=started
  with_items: ec2.instances

- name: Attach ElasticIP if defined
  local_action:
    module: ec2_eip
    aws_acceSs_key: "{{ aws_access_key }}"
    aws_secret_key: "{{ aws_secret_key }}"
    instance_id: "{{ item.id }}"
    region: "{{ region }}"
  with_items: ec2.instances
  when: elastic_ip
